/*know your soil*/
html{
	scroll-behavior: smooth;
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('font/gilroy-bold-cufonfonts/Gilroy-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Heavy';
	src: url('font/gilroy-bold-cufonfonts/Gilroy-Heavy.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Light';
	src: url('font/gilroy-bold-cufonfonts/Gilroy-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('font/gilroy-bold-cufonfonts/Gilroy-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('font/gilroy-bold-cufonfonts/Gilroy-Regular.ttf') format('truetype');
}
.navbar{
	box-shadow: none;
}
.bold{
	font-weight: bold;
}
nav{
	font-family: 'Gilroy-Medium';
}
.menu{
	text-decoration: none;
	color: #000;
	font-size: 14px;
}
marquee{
  max-width : 100% ;
  z-index: -1;
}
h1{
	text-transform: uppercase;
	font-family: 'Gilroy-Light';
}
h2{
	text-transform: capitalize;
	font-family: 'Gilroy-Medium';
}
.font-light{
	font-family: 'Gilroy-Light';
}
.font-medium{
	font-family: 'Gilroy-Medium';
}
.font-regular{
	font-family: 'Gilroy-Regular';
}
.font-bold{
	font-family: 'Gilroy-Bold';
}
.parallax {
	height: auto;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #081621;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
@keyframes float-out {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(20px);
    }
    100% {
        transform: translatey(0px);
    }
}
.avatar {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img { width: 100%; height: auto; }
}
.text-out-line{
	font-size: 5vw;
	text-transform: uppercase;
	font-family: 'Gilroy-Bold';
	text-shadow: 0 0 1px #444, 0 0 1px #444,
				0 0 1px #444, 0 0 1px #444, 
				0 0 1px #444, 0 0 1px #444;
}
.font-13{
	font-size: 13px;
}
.border{
	border:1px solid #fff !important;
	transition: all .8s ease;
	cursor: pointer;
}
.border .bold:hover{
	/*border:1px solid #999 !important;*/
	color: #000;
}
a{
	color: #222;
}
.bg-green{
	background-color: #6ab41f;
}
@media screen and (max-width: 600px) {
	.parallax {
		height: auto;
		width: 100%;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #0f2427;
	}
	.media-d-none{
		display: none;
	}
	.media-bg{
		background-position: -10px 460px !important;
	}
	.media-center{
		text-align: center;
	}
	.media-pt-4{
		padding-top: 40px;
	}
	.team-frame{
		height: 2800px !important;
	}
}
/*new*/
.text-dark{
	color: #646464 !important;
}
.text-green{
   color: #6bb51e; 
}
/*tilt.js*/
.tilt {
	box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
	transform-style: preserve-3d;
	margin: 50px auto;
}
.tilt-movie, .tilt-movie img {
	width: 100%;
	height: auto;
}
.pointer{
	cursor: pointer;
}
/*
contact======================================================================================================
*/
.border-grey{
	border:1px solid #ececec;
}
a:hover{
	color: #6fbc1d;
}
.overflow-hidden{
	overflow: hidden;
}
.form-control{
	border-radius: 0px;
	background-color:transparent;
	border:1px solid #4a4d50;
	font-size:0.8rem;
	color: #fff;
	font-family: 'Gilroy-Regular';
	padding: 1.575rem 2.6rem;
}
.form-control:focus{
	background-color:transparent;
	border-color: #6ebb1d;
	color: #fff;
	box-shadow:0 0 0 0.2rem rgba(34, 140, 47, 0.25);
}
select{
	border-radius: 0px !important;
	background-color:transparent !important;
	border:1px solid #4a4d50 !important;
	font-size:0.8rem !important;
	color: #fff !important;
	font-family: 'Gilroy-Regular';
}
.custom-select{
	height: calc(1.5em + .75rem + 20px) !important;
	padding-left:42px;
}
.custom-checkbox .custom-control-label::before{
	border-radius: 0px;
	margin-left: 24px;
	background: transparent;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
	margin-left: 24px;
}

/*button-technology*/
button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}
button.learn-more {
	width: 11rem;
	height: auto;
}
button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 2.5rem;
	 height: 2.5rem;
	 background: #6fbc1d;
	 /*border-radius: 1.625	rem;*/
}
button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.4rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #fff;
	 border-right: 0.125rem solid #fff;
	 transform: rotate(45deg);
}
button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.50rem 0;
	 margin: 0 0 0 1rem;
	 color: #6fbc1d;
	 font-family: 'Gilroy-Regular';
	 font-weight: 400;
	 line-height: 1.6;
	 text-align: center;
}
button:hover .circle {
	 width: 100%;
}
button:hover .circle .icon.arrow {
	 background: #fff;
	 transform: translate(1rem, 0);
}
button:hover .button-text {
	 color: #fff;
}